*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main>img{
    border-radius: 20px;
}
main{
    border: 2px solid blueviolet;
    border-radius: 20px;
    height: 400px;
    width: 250;
}
div>img{
    height: 50px;
}
.a{
    display: flex;
    justify-content: space-between;
}
#equilibrium{
    
}