*{
    margin:0px;
    padding: 0px;
}
.box:hover{
    height: 100px;
    width: 100px;
    background-color: black;
    border: 1px solid white;
    transform: scale(1.05);
}
.box1{
    background-color: white;
    height:50px;
    width: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
}