*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
main{
    margin: 5px;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 20px;
}
.a>p{
    position: relative;
    bottom: 490px;
    text-align: center;
    text-decoration:double;
}
.image>button{
   border-radius: 20px;
   display: block;
   position: relative;
   bottom: 70px;
   left: 150px;
}
img{
    border-radius: 20px;
}